---
import Tile from 'mj-tiles/astro/Tile.astro'
import Tiles from 'mj-tiles/astro/Tiles.astro'
import 'mj-tiles/styles.css'
---

<html>
  <head><title>Astro Basic</title></head>
  <body>
    <h1>Astro Basic Tiles</h1>
    <Tile tile="1m" />
    <Tiles hand="123m456p789s東南西" />
  </body>
</html>
